option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGO_URI: "mongodb+srv://tsubi1024:databasepass@cluster0.0q9wgxy.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
    PORT: "3000"
    VERSION: "latest"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:environment:
    EnvironmentType: "SingleInstance"
    ServiceRole: "aws-elasticbeanstalk-service-role"

container_commands:
  01_migrate_db:
    command: "echo 'If you had DB migration scripts, run them here'"
    leader_only: true

files:
  "/etc/nginx/conf.d/health_check.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /health {
          proxy_pass http://localhost:3000/health;
          access_log off;
          allow all;
      }

commands:
  remove_default_nginx_conf:
    command: "rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
    ignoreErrors: true
